In [2]:
import pandas as pd

orderWeek = pd.read_excel('OrderWeek.xlsx')

print(orderWeek)

     Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0     23429       Critical      0.10        4.13           0.50         3367
1     26104         Medium      0.06        7.10           6.05         3369
2     18311         Medium      0.01      179.29          29.21         3374
3     18320           High      0.05       73.98          12.14         3374
4     18321           High      0.00        5.98           7.15         3374
..      ...            ...       ...         ...            ...          ...
103   24802         Medium      0.04        7.96           4.95         3361
104   23887         Medium      0.03        4.98           4.95         3361
105   19749            Low      0.10       80.97          33.60         3366
106   19750            Low      0.02        6.48           5.11         3366
107   23428       Critical      0.08       30.97           4.00         3367

      Customer Name       Ship Mode Customer Segment Product Category  ...  \
0    Renee McKenzie     Express Air      Home Office  Office Supplies  ...
1       Stacy Byrne     Regular Air      Home Office  Office Supplies  ...
2        Jamie Ward  Delivery Truck        Corporate        Furniture  ...
3        Jamie Ward     Regular Air      Home Office       Technology  ...
4        Jamie Ward     Regular Air      Home Office  Office Supplies  ...
..              ...             ...              ...              ...  ...
103    Oscar Kenney     Regular Air      Home Office        Furniture  ...
104    Oscar Kenney     Regular Air      Home Office  Office Supplies  ...
105      Dana Boyle  Delivery Truck      Home Office       Technology  ...
106      Dana Boyle     Regular Air      Home Office  Office Supplies  ...
107  Renee McKenzie     Regular Air      Home Office       Technology  ...

      Region State or Province             City  Postal Code Order Date  \
0       East              Ohio  Upper Arlington        43221 2015-05-02
1       East              Ohio      Westerville        43081 2015-02-12
2       East          Maryland          Odenton        21113 2015-06-02
3       East          Maryland          Odenton        21113 2015-06-29
4       East          Maryland          Odenton        21113 2015-06-29
..       ...               ...              ...          ...        ...
103  Central         Wisconsin        West Bend        53095 2015-01-26
104  Central         Wisconsin        West Bend        53095 2015-06-09
105     East              Ohio             Troy        45373 2015-05-24
106     East              Ohio             Troy        45373 2015-05-24
107     East              Ohio  Upper Arlington        43221 2015-05-02

     Ship Date    Profit Quantity ordered new    Sales Order ID
0   2015-05-04  58.26360                   18    84.44    90502
1   2015-02-13 -42.17050                    4    29.99    90500
2   2015-06-04  66.36222                    8  1487.90    87473
3   2015-06-30  -1.90400                    8   600.40    87474
4   2015-07-01 -37.04800                    5    34.25    87474
..         ...       ...                  ...      ...      ...
103 2015-01-26  -7.73000                   15   116.11    91436
104 2015-06-11 -47.99525                   19    95.00    91438
105 2015-05-29  66.22000                   11   837.57    90501
106 2015-05-28 -23.53000                    8    56.22    90501
107 2015-05-03  10.68000                   26   758.97    90502

[108 rows x 25 columns]

In [4]:
orderWeek.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,23429,Critical,0.10,4.13,0.50,3367,Renee McKenzie,Express Air,Home Office,Office Supplies,...,East,Ohio,Upper Arlington,43221,2015-05-02,2015-05-04,58.26360,18,84.44,90502
1,26104,Medium,0.06,7.10,6.05,3369,Stacy Byrne,Regular Air,Home Office,Office Supplies,...,East,Ohio,Westerville,43081,2015-02-12,2015-02-13,-42.17050,4,29.99,90500
2,18311,Medium,0.01,179.29,29.21,3374,Jamie Ward,Delivery Truck,Corporate,Furniture,...,East,Maryland,Odenton,21113,2015-06-02,2015-06-04,66.36222,8,1487.90,87473
3,18320,High,0.05,73.98,12.14,3374,Jamie Ward,Regular Air,Home Office,Technology,...,East,Maryland,Odenton,21113,2015-06-29,2015-06-30,-1.90400,8,600.40,87474
4,18321,High,0.00,5.98,7.15,3374,Jamie Ward,Regular Air,Home Office,Office Supplies,...,East,Maryland,Odenton,21113,2015-06-29,2015-07-01,-37.04800,5,34.25,87474

In [5]:
orderWeek.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
103,24802,Medium,0.04,7.96,4.95,3361,Oscar Kenney,Regular Air,Home Office,Furniture,...,Central,Wisconsin,West Bend,53095,2015-01-26,2015-01-26,-7.73000,15,116.11,91436
104,23887,Medium,0.03,4.98,4.95,3361,Oscar Kenney,Regular Air,Home Office,Office Supplies,...,Central,Wisconsin,West Bend,53095,2015-06-09,2015-06-11,-47.99525,19,95.00,91438
105,19749,Low,0.10,80.97,33.60,3366,Dana Boyle,Delivery Truck,Home Office,Technology,...,East,Ohio,Troy,45373,2015-05-24,2015-05-29,66.22000,11,837.57,90501
106,19750,Low,0.02,6.48,5.11,3366,Dana Boyle,Regular Air,Home Office,Office Supplies,...,East,Ohio,Troy,45373,2015-05-24,2015-05-28,-23.53000,8,56.22,90501
107,23428,Critical,0.08,30.97,4.00,3367,Renee McKenzie,Regular Air,Home Office,Technology,...,East,Ohio,Upper Arlington,43221,2015-05-02,2015-05-03,10.68000,26,758.97,90502

In [6]:
orderWeek.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,108.000000,108.000000,108.000000,108.000000,108.000000,105.000000,108.000000,108.000000,108.000000,108.000000,108.000000
mean,21329.444444,0.046574,65.477500,9.988426,3323.629630,0.504190,49770.583333,261.234191,11.490741,691.680741,87862.592593
std,3269.259236,0.031151,142.950605,13.237251,52.447676,0.132917,30735.537109,970.665502,9.714134,1507.133499,8186.473996
min,2986.000000,0.000000,1.700000,0.500000,3226.000000,0.350000,1001.000000,-2133.278000,1.000000,12.150000,21572.000000
25%,19463.250000,0.020000,6.480000,2.990000,3279.000000,0.380000,30144.000000,-40.314250,5.000000,55.637500,87474.000000
50%,21577.500000,0.050000,16.360000,5.745000,3338.500000,0.500000,43221.000000,19.967300,9.000000,154.755000,88825.500000
75%,23301.500000,0.070000,75.727500,8.990000,3366.250000,0.590000,83616.000000,283.304175,15.250000,652.885000,90462.000000
max,26208.000000,0.100000,1270.990000,70.200000,3403.000000,0.840000,99301.000000,6384.438900,76.000000,9252.810000,91438.000000

In [7]:
orderWeek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                108 non-null    int64
 1   Order Priority        108 non-null    object
 2   Discount              108 non-null    float64
 3   Unit Price            108 non-null    float64
 4   Shipping Cost         108 non-null    float64
 5   Customer ID           108 non-null    int64
 6   Customer Name         108 non-null    object
 7   Ship Mode             108 non-null    object
 8   Customer Segment      108 non-null    object
 9   Product Category      108 non-null    object
 10  Product Sub-Category  108 non-null    object
 11  Product Container     108 non-null    object
 12  Product Name          108 non-null    object
 13  Product Base Margin   105 non-null    float64
 14  Country               108 non-null    object
 15  Region                108 non-null    object
 16  State or Province     108 non-null    object
 17  City                  108 non-null    object
 18  Postal Code           108 non-null    int64
 19  Order Date            108 non-null    datetime64[ns]
 20  Ship Date             108 non-null    datetime64[ns]
 21  Profit                108 non-null    float64
 22  Quantity ordered new  108 non-null    int64
 23  Sales                 108 non-null    float64
 24  Order ID              108 non-null    int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 21.2+ KB

In [8]:
orderHistorical = pd.read_excel('OrderHistoricalData.xlsx')

print(orderHistorical)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1839   25605           High      0.04       39.48           1.99         3222
1840   25606           High      0.00        8.12           2.83         3222
1841   19517       Critical      0.06       60.98          30.00         3224
1842   22291  Not Specified      0.10      208.16          68.02         3225
1843   22292  Not Specified      0.07       90.48          19.99         3226

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1839           Diane Lu     Express Air        Corporate       Technology
1840           Diane Lu     Regular Air        Corporate       Technology
1841      Claudia White  Delivery Truck   Small Business        Furniture
1842     Robyn Crawford  Delivery Truck   Small Business  Office Supplies
1843        Arthur Gold     Regular Air   Small Business  Office Supplies

      ...   Region State or Province            City  Postal Code Order Date  \
0     ...     West        Washington       Anacortes        98221 2015-01-07
1     ...     West        California     San Gabriel        91776 2015-06-13
2     ...     East        New Jersey         Roselle         7203 2015-02-15
3     ...  Central         Minnesota      Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota      Prior Lake        55372 2015-05-12
...   ...      ...               ...             ...          ...        ...
1839  ...    South           Florida     Tallahassee        32303 2015-03-19
1840  ...    South           Florida     Tallahassee        32303 2015-03-19
1841  ...    South         Tennessee        Gallatin        37066 2015-04-01
1842  ...    South         Tennessee      Germantown        38138 2015-01-14
1843  ...    South         Tennessee  Hendersonville        37075 2015-01-14

      Ship Date     Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.5600                    4    13.01    88522
1    2015-06-15  4390.3665                   12  6362.85    90193
2    2015-02-17   -53.8096                   22   211.15    90192
3    2015-05-14   803.4705                   16  1164.45    86838
4    2015-05-13   -24.0300                    7    22.23    86838
...         ...        ...                  ...      ...      ...
1839 2015-03-19 -1535.4864                    8   332.16    90814
1840 2015-03-20  -159.3200                   17   147.62    90814
1841 2015-04-02   -74.0880                    2   125.90    86508
1842 2015-01-14  -137.5220                    4   768.81    86507
1843 2015-01-15   -11.8160                    2   183.39    86507

[1844 rows x 25 columns]

In [9]:
orderHistorical.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838

In [11]:
orderHistorical.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
1839,25605,High,0.04,39.48,1.99,3222,Diane Lu,Express Air,Corporate,Technology,...,South,Florida,Tallahassee,32303,2015-03-19,2015-03-19,-1535.4864,8,332.16,90814
1840,25606,High,0.00,8.12,2.83,3222,Diane Lu,Regular Air,Corporate,Technology,...,South,Florida,Tallahassee,32303,2015-03-19,2015-03-20,-159.3200,17,147.62,90814
1841,19517,Critical,0.06,60.98,30.00,3224,Claudia White,Delivery Truck,Small Business,Furniture,...,South,Tennessee,Gallatin,37066,2015-04-01,2015-04-02,-74.0880,2,125.90,86508
1842,22291,Not Specified,0.10,208.16,68.02,3225,Robyn Crawford,Delivery Truck,Small Business,Office Supplies,...,South,Tennessee,Germantown,38138,2015-01-14,2015-01-14,-137.5220,4,768.81,86507
1843,22292,Not Specified,0.07,90.48,19.99,3226,Arthur Gold,Regular Air,Small Business,Office Supplies,...,South,Tennessee,Hendersonville,37075,2015-01-14,2015-01-15,-11.8160,2,183.39,86507

In [13]:
orderHistorical.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,1844.000000,1844.000000,1844.000000,1844.000000,1844.000000,1831.000000,1844.000000,1844.000000,1844.000000,1844.000000,1844.000000
mean,19833.724512,0.049116,111.632901,13.142668,1642.355206,0.515816,51638.094902,106.217093,13.029826,1003.056594,82043.993492
std,6068.646364,0.031394,403.232088,17.615820,939.763685,0.137297,29285.847009,1149.961440,14.074319,2607.653838,19444.609446
min,64.000000,0.000000,1.140000,0.490000,3.000000,0.350000,1007.000000,-16476.838000,1.000000,2.250000,359.000000
25%,19107.750000,0.020000,6.480000,3.290000,816.500000,0.380000,28221.750000,-88.588750,5.000000,59.467500,86723.750000
50%,21133.500000,0.050000,20.990000,6.190000,1659.000000,0.530000,49423.000000,0.894700,10.000000,203.915000,88298.000000
75%,23513.250000,0.080000,100.980000,14.490000,2468.000000,0.590000,78290.000000,112.442325,16.000000,817.612500,89910.000000
max,26389.000000,0.210000,6783.020000,164.730000,3226.000000,0.850000,99362.000000,9228.225600,167.000000,45737.330000,91586.000000

In [14]:
orderHistorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844 entries, 0 to 1843
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1844 non-null   int64
 1   Order Priority        1844 non-null   object
 2   Discount              1844 non-null   float64
 3   Unit Price            1844 non-null   float64
 4   Shipping Cost         1844 non-null   float64
 5   Customer ID           1844 non-null   int64
 6   Customer Name         1844 non-null   object
 7   Ship Mode             1844 non-null   object
 8   Customer Segment      1844 non-null   object
 9   Product Category      1844 non-null   object
 10  Product Sub-Category  1844 non-null   object
 11  Product Container     1844 non-null   object
 12  Product Name          1844 non-null   object
 13  Product Base Margin   1831 non-null   float64
 14  Country               1844 non-null   object
 15  Region                1844 non-null   object
 16  State or Province     1844 non-null   object
 17  City                  1844 non-null   object
 18  Postal Code           1844 non-null   int64
 19  Order Date            1844 non-null   datetime64[ns]
 20  Ship Date             1844 non-null   datetime64[ns]
 21  Profit                1844 non-null   float64
 22  Quantity ordered new  1844 non-null   int64
 23  Sales                 1844 non-null   float64
 24  Order ID              1844 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 360.3+ KB

In [15]:
user = pd.read_csv("user.csv")
print(user)

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [18]:
temp = pd.concat([orderHistorical, orderWeek])
print(temp)

     Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0     20847           High      0.01        2.84           0.93            3
1     20228  Not Specified      0.02      500.98          26.00            5
2     21776       Critical      0.06        9.48           7.29           11
3     24844         Medium      0.09       78.69          19.99           14
4     24846         Medium      0.08        3.28           2.31           14
..      ...            ...       ...         ...            ...          ...
103   24802         Medium      0.04        7.96           4.95         3361
104   23887         Medium      0.03        4.98           4.95         3361
105   19749            Low      0.10       80.97          33.60         3366
106   19750            Low      0.02        6.48           5.11         3366
107   23428       Critical      0.08       30.97           4.00         3367

         Customer Name       Ship Mode Customer Segment Product Category  ...  \
0        Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1       Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2        Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3    Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4    Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...
..                 ...             ...              ...              ...  ...
103       Oscar Kenney     Regular Air      Home Office        Furniture  ...
104       Oscar Kenney     Regular Air      Home Office  Office Supplies  ...
105         Dana Boyle  Delivery Truck      Home Office       Technology  ...
106         Dana Boyle     Regular Air      Home Office  Office Supplies  ...
107     Renee McKenzie     Regular Air      Home Office       Technology  ...

      Region State or Province             City  Postal Code Order Date  \
0       West        Washington        Anacortes        98221 2015-01-07
1       West        California      San Gabriel        91776 2015-06-13
2       East        New Jersey          Roselle         7203 2015-02-15
3    Central         Minnesota       Prior Lake        55372 2015-05-12
4    Central         Minnesota       Prior Lake        55372 2015-05-12
..       ...               ...              ...          ...        ...
103  Central         Wisconsin        West Bend        53095 2015-01-26
104  Central         Wisconsin        West Bend        53095 2015-06-09
105     East              Ohio             Troy        45373 2015-05-24
106     East              Ohio             Troy        45373 2015-05-24
107     East              Ohio  Upper Arlington        43221 2015-05-02

     Ship Date      Profit Quantity ordered new    Sales Order ID
0   2015-01-08     4.56000                    4    13.01    88522
1   2015-06-15  4390.36650                   12  6362.85    90193
2   2015-02-17   -53.80960                   22   211.15    90192
3   2015-05-14   803.47050                   16  1164.45    86838
4   2015-05-13   -24.03000                    7    22.23    86838
..         ...         ...                  ...      ...      ...
103 2015-01-26    -7.73000                   15   116.11    91436
104 2015-06-11   -47.99525                   19    95.00    91438
105 2015-05-29    66.22000                   11   837.57    90501
106 2015-05-28   -23.53000                    8    56.22    90501
107 2015-05-03    10.68000                   26   758.97    90502

[1952 rows x 25 columns]

In [21]:
result = pd.merge(temp, user, on = "Region")
print(result)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      23890           High      0.05       26.48           6.93           18
3      24063  Not Specified      0.07       12.99           9.44           19
4      20631           High      0.06       55.48          14.30           24
...      ...            ...       ...         ...            ...          ...
1947   25613           High      0.03        2.61           0.50         3339
1948   25614           High      0.01       11.66           7.95         3339
1949   18947         Medium      0.07        7.68           6.16         3347
1950   18948         Medium      0.05        6.64           4.95         3347
1951   19461         Medium      0.02      110.99           2.50         3347

        Customer Name       Ship Mode Customer Segment Product Category  ...  \
0       Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1      Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2        Laurie Hanna     Regular Air   Small Business        Furniture  ...
3         Jim Rodgers     Regular Air   Small Business       Technology  ...
4         Edna Thomas     Regular Air        Corporate  Office Supplies  ...
...               ...             ...              ...              ...  ...
1947  Lester Copeland     Regular Air         Consumer  Office Supplies  ...
1948  Lester Copeland     Regular Air         Consumer  Office Supplies  ...
1949  Carrie McIntosh     Express Air         Consumer  Office Supplies  ...
1950  Carrie McIntosh     Express Air         Consumer        Furniture  ...
1951  Carrie McIntosh     Regular Air         Consumer       Technology  ...

     State or Province              City Postal Code  Order Date  Ship Date  \
0           Washington         Anacortes       98221  2015-01-07 2015-01-08
1           California       San Gabriel       91776  2015-06-13 2015-06-15
2              Montana            Helena       59601  2015-05-15 2015-05-16
3              Montana          Missoula       59801  2015-05-21 2015-05-23
4           California     Laguna Niguel       92677  2015-01-28 2015-01-29
...                ...               ...         ...         ...        ...
1947           Florida        Titusville       32780  2015-06-14 2015-06-15
1948           Florida        Titusville       32780  2015-06-14 2015-06-15
1949           Florida  Royal Palm Beach       33411  2015-01-06 2015-01-08
1950           Florida  Royal Palm Beach       33411  2015-01-06 2015-01-08
1951           Florida  Royal Palm Beach       33411  2015-01-27 2015-01-29

         Profit Quantity ordered new    Sales  Order ID  Manager
0        4.5600                    4    13.01     88522  William
1     4390.3665                   12  6362.85     90193  William
2      314.4813                   17   455.77     90031  William
3     -114.6399                   18   231.79     90032  William
4      -28.2968                    1    67.49     87651  William
...         ...                  ...      ...       ...      ...
1947     4.0443                    7    19.02     85981      Sam
1948   -10.3684                   16   193.87     85981      Sam
1949   125.9982                    1    22.13     89355      Sam
1950   -92.9292                    5    34.17     89355      Sam
1951   -39.8090                    1    94.30     89356      Sam

[1952 rows x 26 columns]

In [22]:
result.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,William
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,William
2,23890,High,0.05,26.48,6.93,18,Laurie Hanna,Regular Air,Small Business,Furniture,...,Montana,Helena,59601,2015-05-15,2015-05-16,314.4813,17,455.77,90031,William
3,24063,Not Specified,0.07,12.99,9.44,19,Jim Rodgers,Regular Air,Small Business,Technology,...,Montana,Missoula,59801,2015-05-21,2015-05-23,-114.6399,18,231.79,90032,William
4,20631,High,0.06,55.48,14.30,24,Edna Thomas,Regular Air,Corporate,Office Supplies,...,California,Laguna Niguel,92677,2015-01-28,2015-01-29,-28.2968,1,67.49,87651,William

In [23]:
result.to_excel("output/result.xlsx",sheet_name='resultConnect',index= True)